html {
    height: 100%;
    overflow-y: hidden;
}

/* center on x and y axis */

body {
    background-image: linear-gradient(to bottom, gray, black);


    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 15%;
    
    text-align: center;

}

.panel {
    /* 3d effect */
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    
   
}

h1 {
    font-size: 6em;
    font-weight: bold;
    margin-top: 0;
}

img {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
}


/* login form */
.float-left {
    float: left;
}
